# Ignorar archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de entorno virtual
venv/
env/
*.venv

# Ignorar archivos de configuración local
*.env
*.local

# Ignorar archivos de bases de datos locales
*.db
*.sqlite3

# Ignorar archivos de log
*.log

# Ignorar archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
